.card {
    flex: 0 0 20%;
    padding: 0 2rem;
    color: var(--blue);
}

.card img{
    margin-top: 2rem;
    width: 100%;
    height: auto;
}

.titulo h2{
    margin-top: 0.25rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

@media (max-width: 769px){
    .card{
        flex: 0 0 50%;
    }
}

@media (max-width: 577px){
    .card{
        flex: 0 0 100%;
    }
}